.well div {
  color: #bbb;
}

.thumbnail {
  min-height: 250px;
  border-radius: 5px;
}

.green {
  color: lightgreen;
}

.red {
  color: lightcoral;
}

.gray {
  color: lightgrey;
}

.bold {
  font-weight: bold;
}
