.navbar {
  border-radius: 5px;
}

.nav.navbar-nav {
  font-size: 15px;
}
li > a.active {
  color: #F97924;
}

#searchForm {
  margin-right: 20px;
}

@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
