<div [routerLink]="['/events', event.id]"  class="well hoverwell thumbnail ">
  <h2>{{ event?.name | uppercase}}</h2>
  <div>Date: {{ event?.date | date:'fullDate' }}</div>
  <div [ngSwitch]="event?.time">
    Time: {{ event?.time }}
    <span [ngClass]="getStartTimeClass()" *ngSwitchCase="'8:00 am'"
    >(Early Start)</span
    >
    <span [ngClass]="getStartTimeClass()" *ngSwitchCase="'10:00 am'"
    >(Late Start)</span
    >
    <span [ngClass]="getStartTimeClass()" *ngSwitchDefault
    >(Normal Start)</span
    >
  </div>
  <div>Price: {{ event?.price | currency: 'EUR' }}</div>
  <div *ngIf="event?.location">
    <span>Location: {{ event?.location?.address }}</span>
    <span class="pad-left">
          {{ event?.location?.city }},
      {{ event?.location?.country }}
        </span>
  </div>
  <div *ngIf="event?.onlineUrl">Url Address: {{ event?.onlineUrl }}</div>
</div>
